<!-- deleted previous code and notes due to error... -->

<!-- ------------------------------------------------------------------------------------------------- -->
<!-- 19. Render React components on the server using fetched API data using the ReactDOMServer package -->
<!-- ------------------------------------------------------------------------------------------------- -->

<script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>
    // ^ put the stringified initial data as a global variable on the window
</script>

<%- include('header') -%>
    <div id="root"><%- initialMarkup -%></div>
<%- include('footer') -%>